
.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2em;
  width: 300px; /* flex: 1 대신 고정 너비 설정 */
  box-sizing: border-box; /* padding이 너비에 포함되도록 설정 */
}

.dayuse {
  justify-content: center;
  margin-top: 30px;
  width: 300px; /* 부모 요소의 너비에 맞추기 */
  height: 200px; /* 내용에 맞게 높이 조정 */
}

.text {
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: flex-start; /* 왼쪽부터 채우기 */
  gap: 20px;
  flex-wrap: wrap;
}
.count{
  text-align: center;
}