.book-entry {
    background-color: #f8f9fa;			/* 배경색 */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 그림자 추가 */
    margin-top: 20px; 						/* 버튼과 메모 사이의 간격 */
}
.book-cover {
    max-height: 200px;						/* 이미지의 최대 높이 제한 */
    width: auto;							/* 자동 너비 조정 허용 */
}	
.book-title {
    font-size: 1.2rem;						/*  */
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.book-author {
    color: #6c757d;
    text-decoration: none;					/* href 효과 제거 */
}
.book-rating {
    font-size: 1.2rem;
}
.book-memo-link {
	color: #000000;
	text-decoration: none;					/* href 효과 제거 */
}
.star {
    color: #D95F76;
}
.star-empty {
    color: lightgray;
}
.book-dates {
    font-size: 0.9rem;
    color: #6c757d;
}
.book-memo {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #fff1f1;
    border-radius: 0.25rem;
}
/* 최신순, 오래된순 버튼 위치 조정*/
.sort-buttons {
  text-align: right;
  margin-bottom: 20px;
}
