.py-5 {
  position: relative;
  padding-top: 100px; /* 제목을 위한 여백 증가 */
}

.container {
  position: relative;
}

h1.text-center {
  padding: 10px 0;
  margin: 0;
  z-index: 10;
}

.book-entry-wrapper {
  background-color: white;
  color: black;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dee2e6;
}

.book-entry {
  display: flex;
  align-items: flex-start;
}

.book-cover-container {
  width: 30%;
  padding-right: 20px;
}

.book-cover {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.book-info {
  width: 70%;
  padding-left: 40px;
}

.book-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.book-author, .book-pages {
  color: #666;
}

.star {
  color: #ffd700;
  font-size: 1.5rem;
}

.reading-time p:first-child,
.book-preview p:first-child {
  font-size: 1.1rem;
  font-weight: bold;
}

.memo-section {
  background-color: #fff1f1;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.memo-item {
  background-color: white;
  border: 1px solid #dee2e6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

.memo-item p {
  margin-bottom: 0;
}

.memo-item small {
  color: #666;
}

.memo-item .btn-group {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.memo-item .btn {
  font-size: 0.7rem;
  padding: 2px 5px;
}

.memo-edit-area {
  width: 100%;
  margin-bottom: 10px;
}
/* 0730 추가 */
#elements {
  min-height: calc(100vh - footer의 높이px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
