.book-entry {
  background-color: white;
  color: black;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto; /* 중앙 정렬 */
  padding: 20px;
}

.book-cover {
  width: 100%;
  height: auto; /* 높이를 auto로 변경하여 이미지 비율 유지 */
  object-fit: contain; /* cover에서 contain으로 변경하여 이미지가 잘리지 않도록 함 */
}

/* 책 표지 이미지를 감싸는 컨테이너 */
.book-cover-container {
  width: 100%; /* 너비를 100%로 설정 */
  height: auto; /* 높이를 auto로 설정하여 내용에 맞춤 */
}

.book-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.book-author, .book-pages {
  color: #666;
}

.star {
  color: #ffd700;
  font-size: 1.5rem;
}

.reading-time p:first-child,
.book-preview p:first-child {
  font-size: 1.1rem;
  font-weight: bold;
}

.memo-section {
  background-color: #fff1f1;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

.memo-item {
  background-color: white;
  border: 1px solid #dee2e6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
}

.memo-item p {
  margin-bottom: 0;
}

.memo-item small {
  color: #666;
}

.memo-item .btn-group {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.memo-item .btn {
  font-size: 0.7rem;
  padding: 2px 5px;
}