.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.2em;
  align-items: center;
}

.back-button {
	cursor: pointer;
	font-size: 1.7em;
}
.nav-buttons span {
  cursor: pointer;
  font-size: 1.2em;
}

.character-image {
  text-align: center;
  margin-bottom: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-image img {
  max-width: 100%;
  max-height: 300px; 
  object-fit: contain;
}

.character-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.info-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-item {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: 45%;
  text-align: center;
}

.description {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  overflow-y: auto; /* 내용 많을 경우, 스크롤 생성 */
}

.disabled {
  color: #999;
  cursor: default;
  pointer-events: none;
}
