<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookbookbook.dao.UserStatDAO">


	<!--월별 권수-->
	<select id="getUserStatInfo2" parameterType="UserStatVO" resultType="UserStatVO">
		select
			SUBSTRING(bs.endDate,6,2) as bookMonth,
			count(*) as bookCount,
			MIN(LEFT(bs.endDate, 7)) as sortDate
		from bookshelf as bs
				 inner join book as bk on bs.bookNum = bk.bookNum
		where bs.bookPage = bk.bookPage
		  and left(bs.endDate,4) = left(now(),4)
		  and bs.userNum = #{userNum}
		group by SUBSTRING(bs.endDate,6,2)
		order by sortDate
	</select>

	<!--월별 페이지수-->
	<select id="getUserStatInfo1" parameterType="UserStatVO" resultType="UserStatVO">
		select
			bs.shelfNum,
			bs.userNum,
			bs.bookPage,
			bs.bookNum,
			bs.startDate,
			bs.endDate,
			bs.readStatus,
			bs.rating,
			bk.bookPage as totalbookpage,
			bk.bookTitle,
			left(bk.bookTitle, 10) as titleLengthStr,
			TRUNCATE((bs.bookPage/bk.bookPage) * 100, -1) as percent
		from bookshelf as bs
			inner join book as bk on bs.bookNum = bk.bookNum
		where bs.userNum = #{userNum}
	</select>


</mapper>
