.project-listing {
  font-family: Arial, sans-serif;
  width: 100%; /* 가로 폭을 100%로 설정하여 반응형으로 만듭니다. */
  max-width: 1500px; /* 최대 너비를 1500px로 설정 */
  height: 600px; /* 높이를 자동으로 조정 */
  margin: 40px 50px; /* 상단 여백과 좌측 여백을 설정 */
  background-color: #d6e4f3; /* 연한 분홍색 배경 */
  padding: 20px;
  border-radius: 10px;
}

h2 {
  margin-bottom: 25px;
  color: #333;
}

p {
  color: #666;
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  border: 1px solid #f0f0f0; /* 셀 사이에 구분선 추가 */
}

th {
  background-color: #FFB6C1; /* 연한 분홍색 */
  color: #333;
  font-weight: bold;
}

tr:last-child td {
  border-bottom: none;
}

table td:nth-child(1) {
  width: 200px; /* 신고번호 열의 너비 조정 */
  text-align: center;
}

table th:nth-child(1){
  text-align: center;
}

.team-lead {
  font-weight: bold;
}

.email {
  font-size: 0.9em;
  color: #666;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status.red { background-color: #ff0000; }
.status.green { background-color: #00ff00; }
.status.yellow { background-color: #ffff00; }

/* 짝수 행 배경색 */
tr:nth-child(even) {
  background-color: #FFF5EE;
}

/* 행에 호버 효과 */
tr:hover {
  background-color: #F0FFF0;
}

/* 미디어 쿼리 */
@media (min-width: 992px) {
  .project-listing {
    margin: 40px auto; /* 가운데 정렬 */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-listing {
    margin: 20px; /* 여백 조정 */
    margin-right: 20px;
    padding: 15px; /* 패딩 조정 */
  }

  th, td {
    padding: 10px; /* 패딩 조정 */
  }
}

@media (max-width: 767px) {
  .project-listing {
    margin: 10px; /* 여백 조정 */
    padding: 10px; /* 패딩 조정 */
  }

  h2 {
    margin-top: 30px;
    font-size: 1.5em; /* 제목 크기 조정 */
  }

  th, td {
    padding: 8px; /* 패딩 조정 */
  }

  .status {
    width: 8px; /* 상태 원 크기 조정 */
    height: 8px;
  }
}
