<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../img/pages/icon.png" type="image/png">
        <title>Pages</title>
        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="../vender/bootstrap/css/bootstrap.min.css">
        <!-- Icofont Css -->
        <link rel="stylesheet" href="../vender/icofont/icofont.min.css">
        <!-- AOS Css -->
        <link rel="stylesheet" href="../vender/aos/dist/aos.css">
        <!-- Remix Icons -->
        <link rel="stylesheet" href="../vender/remixicon/remixicon.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- Common Css -->
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body>
        
        <div class="hero-section position-relative overflow-hidden vh-100 d-flex align-items-center flex-column" id="welcome">
            <div class="container m-auto">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-xl-8">
                        <div class="hero-content">
                            <h1 class="fw-light display-4 text-black mb-1">We are getting ready</h1>
                            <h1 class="fw-bolder display-3 text-black mb-4">to launch new sitename site!</h1>
                            <p class="lead mb-5 text-muted fw-normal">Perfect and awesome template to present your future product service.<br> Hooking audience attention in the opener.</p>
                            <div class="d-flex justify-content-center gap-lg-5 mb-5 py-4" id="countdown">
                                <div class="px-lg-4 px-3">
                                    <h1 class="display-4 fw-bolder text-purple" id="days"></h1>
                                    <h5 class="m-0">Days</h5>
                                </div>
                                <div class="px-lg-4 px-3">
                                    <h1 class="display-4 fw-bolder text-purple" id="hours"></h1>
                                    <h5 class="m-0">Hours</h5>
                                </div>
                                <div class="px-lg-4 px-3">
                                    <h1 class="display-4 fw-bolder text-purple" id="minutes"></h1>
                                    <h5 class="m-0">Minutes</h5>
                                </div>
                                <div class="px-lg-4 px-3">
                                    <h1 class="display-4 fw-bolder text-purple" id="seconds"></h1>
                                    <h5 class="m-0">Seconds</h5>
                                </div>
                            </div>
                            <div class="d-sm-flex align-items-center gap-3 mb-5 justify-content-center">
                                <a class="btn btn-purple px-5 py-3" href="page-help-center.html">More Info <i class="ri-shopping-cart-2-line"></i></a>
                                <a class="btn btn-outline-purple px-5 py-3" href="../index.html">Notify Me!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootsrap Bundle Js -->
        <script src="../vender/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Jquery Js -->
        <script src="../vender/jquery/jquery-3.6.4.min.js"></script>
        <!-- AOS Js -->
        <script src="../vender/aos/dist/aos.js"></script>
        <!-- Custom Js -->
        <script src="../js/script.js"></script>
    </body>
</html>
