<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../img/pages/icon.png" type="image/png">
        <title>Pages</title>
        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="../vender/bootstrap/css/bootstrap.min.css">
        <!-- Icofont Css -->
        <link rel="stylesheet" href="../vender/icofont/icofont.min.css">
        <!-- AOS Css -->
        <link rel="stylesheet" href="../vender/aos/dist/aos.css">
        <!-- Remix Icons -->
        <link rel="stylesheet" href="../vender/remixicon/remixicon.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- Common Css -->
        <link rel="stylesheet" href="../css/common.css">
    </head>
    <body>
        
        <div class="hero-section position-relative overflow-hidden vh-100 d-flex align-items-center flex-column bg-light px-lg-5" id="welcome">
            <nav class="navbar osahan-main-nav navbar-expand py-lg-4 py-3 gadgets-nav w-100 mb-auto px-lg-5">
                <div class="container px-lg-5">
                    <div class="position-relative d-flex align-items-center gap-2 site-brand">
                                                            <i class="ri-slideshow-line fs-2 lh-1 text-black"></i>
                                                            <div class="lh-1">
                                                               <h5 class="fw-bold m-0 text-black">Software</h5>
                                                               <small class="text-muted text-muted">One Page</small>
                                                            </div>
                                                            <a class="stretched-link" href="../index.html"></a>
                                                        </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex align-items-center gap-4 ms-auto">
                            <p class="small m-0">Don't have an account? <a href="page-signup-2.html" class="text-decoration-none">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container m-auto px-lg-5">
                <div class="row align-items-center px-lg-5">
                    <div class="col-lg-7 col-12 d-none d-lg-block">
                        <div class="ps-lg-0 pe-lg-0">
                            <div class="ps-lg-0 ms-lg-0">
                                <div class="py-3">
                                    <div class="text-muted small mb-4">
                                        OVERLINE
                                    </div>
                                    <div class="fw-bold display-4 text-black">
                                        Powerful feature for working smarter and safer
                                    </div>
                                    <p class="py-4 lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, quas. Laudantium temporibus placeat.</p>
                                    <a href="account-orders.html" class="btn btn-purple btn-theme">View More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12 py-3">
                        <div class="p-5 bg-white rounded-4 shadow">
                            <h5 class="fw-bold mb-4">Log in to continue</h5>
                            <form action="account-orders.html" class="d-grid gap-3 input-group-lg">
                                <input type="email" class="form-control bg-light border-0 px-3 py-2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                                <input type="password" class="form-control bg-light border-0 px-3 py-2" id="exampleInputPassword1" placeholder="Password">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="form-check"><input type="checkbox" class="form-check-input" id="exampleCheck1"> <label class="form-check-label small" for="exampleCheck1">Remember me</label></div>
                                    <a href="page-reset-password.html" class="text-decoration-none link-dark small">Forget password</a>
                                </div>
                                <button type="submit" class="btn btn-purple btn-theme w-100">Log in</button>
                            </form>
                            <div class="pt-3">
                                <!-- or line pending -->
                                <div class="d-flex align-items-center justify-content-between">
                                    <hr class="w-25">
                                    <div class="text-muted small">
                                        or continue with others
                                    </div>
                                    <hr class="w-25">
                                </div>
                                <div class="d-grid d-md-flex gap-2 pt-3 mb-0">
                                    <button type="button" class="btn btn-outline-danger btn-lg w-100"><i class="ri-google-line me-3"></i> Google</button>
                                    <button type="button" class="btn btn-outline-primary btn-lg w-100"><i class="ri-facebook-line me-3"></i> Facebook</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="py-4 mt-auto w-100 px-lg-5">
                <div class="container text-center d-flex py-3 px-lg-5">
                    <p class="m-0 text-muted small">
                        © All rights reserved. Made with <span class="text-danger mx-1">❤</span> by <a class="text-black text-decoration-none d-inline fw-normal p-0" href="#" target="_blank" rel="noopener">Website Name</a>
                    </p>
                    <div class="d-flex align-items-center gap-4 ms-auto">
                        <a href="#" class="link-secondary"><i class="ri-facebook-circle-fill ri-lg"></i></a> <a href="#" class="link-secondary"><i class="ri-twitter-fill ri-lg"></i></a>
                        <a href="#" class="link-secondary"><i class="ri-instagram-fill ri-lg"></i></a> <a href="#" class="link-secondary"><i class="ri-dribbble-line ri-lg"></i></a>
                        <a href="#" class="link-secondary"><i class="ri-slack-fill ri-lg"></i></a>
                    </div>
                </div>
            </footer>
        </div>
        <!-- Bootsrap Bundle Js -->
        <script src="../vender/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Jquery Js -->
        <script src="../vender/jquery/jquery-3.6.4.min.js"></script>
        <!-- AOS Js -->
        <script src="../vender/aos/dist/aos.js"></script>
        <!-- Custom Js -->
        <script src="../js/script.js"></script>
    </body>
</html>
