.mb-3{
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    justify-content: left; 
}

.input-group{
    justify-content: left;
    
}

.btn-light{
    background-color: bisque;
}

/* Member.css */

/* 모바일 화면 */
@media (max-width: 767px) {
    .table {
      font-size: 0.8rem;
    }
  
    .table th,
    .table td {
      padding: 0.3rem;
    }

    .dropdown-toggle{
      margin-top: 40px;
    }

    .form-control{
      margin-top: 40px;
    }

    .btn-success{
      margin-top: 40px;
    }
  }
  
  /* 태블릿 화면 */
  @media (min-width: 768px) and (max-width: 991px) {
    .table {
      font-size: 0.9rem;
    }
  
    .table th,
    .table td {
      padding: 0.75rem;
    }
  }
  
  /* 데스크탑 화면 */
  @media (min-width: 992px) {
    .table {
      font-size: 1rem;
    }
  
    .table th,
    .table td {
      padding: 1rem;
    }
  }
  
  .input-group .btn {
    margin-right: 10px; /* 원하는 간격으로 변경 가능 */
  }

  /* input과 버튼 사이의 간격 설정 */
.input-group .form-control {
  margin-right: 10px; /* 원하는 간격으로 변경 가능 */
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  cursor: pointer;
}

.pagination .active button {
  background-color: #007bff;
  color: white;
}

.pagination .disabled button {
  opacity: 0.5;
  cursor: not-allowed;
}

.abc{
  background-color: #007bff;
  color: white;
  border-color: #c8c6ca;
}